@viewport {
  width: device-width;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

video {
  width: 100%;
}

input,
button,
textarea,
select,
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

code {
  white-space: pre-wrap;
}
